@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");

.card {
  background-color: white;
  position: relative;
  z-index: 1;
  color: #555;
}

.top img {
  height: 50vh;
  width: 100%;
  background-size: cover;
}

.my-1 h2 {
  padding: 22px 22px 0;
}

.my-1 p {
  font-size: 18px;
  padding: 0 22px;
  line-height: 24px;
}

.intro {
  width: 85%;
}

.author {
  display: flex;
  align-items: center;
}

.profile img {
  background-position: center;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  margin: 10px 0 10px 22px;
}

.name {
  padding-left: 10px;
  cursor: pointer;
  font-weight: 300;
}

.name a {
  font-weight: 400;
  color: orange;
}

.info {
  display: flex;
  color: #999;
  font-size: 14px;
  margin-top: 8px;
  padding-left: 0;
}

.info a {
  cursor: pointer;
}

ion-icon {
  height: 20px;
  width: 20px;
  display: flex;
  padding: 10px 8px 0 22px;
}
