.input-box {
  width: 100%;
  height: 55px;
}

.email {
  background-color: rgb(255, 255, 255);
  padding: 75px 0px;
}
textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  width: 100%;
}

.email-from {
  padding-bottom: 45px;
  background-color: rgb(240, 240, 240);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
