
body {
  margin: 0;
  font-family: 'Fira Code', monospace;
  font-family: 'Playfair Display', serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

